html {
    background-color: black;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

#space-background {
    width: 100%;
    height: 100vh;
    background: url('2space.jpg') no-repeat center center;
    background-size: 120%;
    animation: moveBackground 500s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#main-container {
    width: 99%;
    height: 98%;
    background-color: rgba(69, 109, 133, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#entry-container {
    width: 80%;
    height: 100%;
    background-color: rgba(75, 130, 160, 0.08);
    margin: 3px;
    border-radius: 10px;
    resize: horizontal;
    min-width: 40%;
    max-width: 80%;
    transition: width 0.1s ease;
    will-change: width;
    position: relative;
}

#table-container-outer {
    display: flex;
    flex-direction: column;
    height: calc(100% - 6%);
    overflow: hidden;
    width: 99%;
    height: 95%;
    color: rgba(38, 68, 68, 0.39);
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

#table-container {
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 100%;
    color: rgba(107, 139, 139, 0.39);
    width: 97%;
    height: 100%;
    display: flex;
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent);
    mask-image: linear-gradient(to bottom, black 94%, transparent 95%);
    backdrop-filter: blur(20px);
}

#data-table {
    min-width: 1950px;
    scale: 0.98;
    transform-origin: top left;
    border-collapse: collapse;
    color: rgba(214, 218, 218, 0.39);
    margin-left: 10px;
    background: rgba(4, 11, 26, 0.199);
    border-radius: 10px;
}

#stats-container {
    width: 20%;
    height: 100%;
    background-color: rgba(75, 130, 160, 0.08);
    margin: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease;
    will-change: width;
}

#equity-container {
    width: 90%;
    height: 17vw;
    background-color: #01091d00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#chart-container {
    padding: 0;
    margin: 0;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #01091d1f;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
}

#button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
    width: 98%;
    height: 50px;
    color: rgb(24, 81, 99);
    background-color: #00000002;
    border-radius: 10px;
}

.option-button {
    border-width: 1.4px;
    border-color: #216e5750;
    background: linear-gradient(to left, rgba(15, 40, 65, 0.055), rgba(5, 17, 41, 0.089));
    flex: 1;
    min-width: 30px;
    width: 80px;
    max-width: 80px;
    color: rgb(24, 81, 99);
    height: 50px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#init-container {
    display: flex;
    align-items: flex-end;
    padding: 8px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    background-color: #00000005;
    border-radius: 10px;
}

#toggle-button:active,
.option-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#toggle-button:hover,
.option-button:hover {
    background: linear-gradient(to right, rgba(14, 14, 48, 0.6), rgba(25, 13, 199, 0.164));
}

#toggle-button {
    margin-right: 10px;
    background: linear-gradient(to left, rgba(15, 40, 65, 0.034), rgba(5, 17, 41, 0.39));
    color: rgba(209, 202, 194, 0.623);
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
    border-width: 2.5px;
    border-color: #216e5750;
}

#initial-capital {
    height: 30px;
    margin-left: 10px;
    padding: 0px;
    border: 0px solid #ccc;
    border-radius: 4px;
    border-width: 1px;
    border-color: #216e5750;
    font-size: 0.9em;
    width: 120px;
    background: linear-gradient(to left, rgba(15, 40, 65, 0.034), rgba(5, 17, 41, 0.39));
    margin-right: 50px;
    color: rgba(11, 156, 156, 0.671);
    text-align: center;
}


#initial-capital::-webkit-inner-spin-button,
#initial-capital::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.checklist {
    display: flex;
    gap: 6px;
    margin-top: 8px;
    align-items: center;
    margin-left: 5px;
    justify-content: center;
}

.checkmark {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: rgba(16, 95, 141, 0.096);
    border-radius: 4px;
    margin-top: 6px;
    transition: background-color 0.3s ease;
}

.checklist-item:checked+.checkmark {
    background-color: rgba(40, 240, 40, 0.178);
}

label {
    cursor: pointer;
}

.checklist-item {
    display: none;
    position: absolute;
}

label:focus {
    outline: 1px solid rgba(32, 55, 99, 0.315);
    height: 18px;
    vertical-align: middle;
    border-radius: 5px;

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    max-width: 60%;
    max-height: 60%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

#editModal {
    background: #02132750;
}

.editModal-content {
    width: 11%;
    max-height: 60%;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(15, 40, 65, 0.034), rgba(5, 17, 41, 0.39));
    margin-top: 5%;
    border-radius: 20px;
    padding: 10px;
    color: #bfd4cdc0;
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(30px);

}

#tooltip-form {
    margin-top: 4%;
    margin-left: 10px;
    text-align: right;

}

#tooltip-form input[type="text"] {
    width: 80%;
    background: linear-gradient(to left, rgba(15, 40, 65, 0.548), rgba(5, 17, 41, 0.39));
    border-radius: 10px;
    border: 0px;
    color: #216e57;
    height: 28px;
    margin: 10px;
    padding-left: 10px;
}

#tooltip-form label {
    font-size: medium;
    color: #1385d160;
}

#data-table th,
#data-table td {
    color: rgb(42, 119, 119);
    border: 1px solid #dddddd00;
    text-align: center;
    padding: 4px;
    vertical-align: middle;

}

#data-table th {
    border: 1px solid #dddddd00;
    text-align: center;
    padding: 11px;
    color: rgba(240, 255, 255, 0.39);
    font-size: small;
    font-style: italic;
}

#data-table td input {
    border: 2px solid #253d8023;
    padding: 1px;
    margin: 1px;
    border-radius: 30px;
    background-color: #0000002a;
    color: rgba(137, 179, 179, 0.671);
    height: 25px;
    width: 100%;
    text-align: center;
    line-height: 25px;
}

#data-table td span {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: small;
}

.span-cell {
    background-color: #0000005b;
    border-radius: 30px;
    height: 25px;
    line-height: 25px;
}

#data-table td input:focus {
    outline: 1px solid #007bff52;
    background-color: #e7f5ff11;
    border-color: #007bff54;
}

#initial-capital:focus {
    outline: 1px solid #007bff52;
    background-color: #e7f5ff11;
    border-color: #007bff54;
}

#data-table td:nth-child(1) {
    font-size: smaller;
}

#data-table th:nth-child(1) {
    width: 5px;
}

#data-table th:nth-child(2) {
    width: 100px;
}

#data-table th:nth-child(3),
#data-table td:nth-child(3) {
    width: 90px;
    padding-left: 18px;
}

#data-table th:nth-child(4) {
    width: 70px;
}

#data-table th:nth-child(5) {
    width: 40px;
}

#data-table th:nth-child(6) {
    width: 40px;
}

#data-table th:nth-child(7) {
    width: 30px;
}

#data-table th:nth-child(8) {
    width: 50px;
}

#data-table th:nth-child(9) {
    width: 60px;
}

#data-table th:nth-child(10) {
    width: 60px;
}

#data-table th:nth-child(11) {
    width: 60px;
}

#data-table th:nth-child(12),
#data-table td:nth-child(12) {
    width: 60px;
    padding-right: 7px;
}

#data-table th:nth-child(13) {
    width: 60px;
}

#data-table th:nth-child(14) {
    min-width: 10px;
    width: 40px;
}

#data-table th:nth-child(15) {
    width: 60px;
}

#data-table th:nth-child(16) {
    width: 50px;
}

#data-table th:nth-child(17) {
    width: 30px;
}

#data-table th:nth-child(18) {
    width: 100px;
}


#data-table th:nth-child(19) {
    width: 40px;
}

#data-table td:nth-child(19) {
    padding-left: 10px;
}

#data-table th:nth-child(20) {
    width: 140px;
}

.image-paste-area {
    border: 1px solid #cccccc05;
    border-radius: 7px;
    min-height: 20px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    caret-color: transparent;
    background-color: rgba(10, 18, 43, 0.329);
}

.image-paste-area:focus {
    outline: 1px solid #007bff52;
}

.image-paste-area img {
    max-width: 100%;
    height: auto;
    display: none;
}

#data-table input[type="number"]::-webkit-inner-spin-button,
#data-table input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#table-container::-webkit-scrollbar {
    height: 0;
    width: 10px;
}

#table-container::-webkit-scrollbar-track {
    background: rgba(2, 15, 26, 0.082);
}

#table-container::-webkit-scrollbar-thumb {
    background: rgba(3, 14, 37, 0.363);
    border-radius: 5px;
}

#table-container::-webkit-scrollbar-thumb:hover {
    background: rgba(3, 14, 37, 0.877);
}

#table-container {
    scrollbar-width: thin;
    scrollbar-color: rgb(4, 4, 48) rgba(2, 38, 68, 0.336);
}

textarea {
    overflow: hidden;
    resize: none;
    margin-top: 3px;
    margin-right: 15px;
    border: 1px solid #dddddd09;
    text-align: left;
    border-radius: 10px;
    background: linear-gradient(to left, rgba(15, 40, 65, 0.034), rgba(5, 17, 41, 0.089));
    color: rgba(137, 179, 179, 0.671);
    height: 28px;
    width: 90%;
    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

textarea.expanded {
    width: 90%;
    height: 220px;
    overflow: hidden;
    resize: none;
    margin-right: 100px;
}

#stat-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50%;
    background: linear-gradient(to left, rgba(75, 130, 160, 0.39), rgba(5, 17, 41, 0.308));
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.stat-box {
    background: linear-gradient(to left, rgba(15, 40, 65, 0.055), rgba(5, 17, 41, 0.089));
    width: 25%;
    color: rgb(102, 170, 197);
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}

@media screen and (max-width: 1800px) {
    #space-background {
        background-size: 200%;
    }
}

@media screen and (max-width: 1100px) {
    #space-background {
        background-size: 250%;
    }
}

@media screen and (max-width: 990px) {
    #space-background {
        background-size: 300%;
    }
}



/* Adjusting for smaller screens */
@media screen and (max-width: 700px) {
    #space-background {
        background-size: cover !important;
        /* Cover the entire element */
        height: 100% !important;
        /* Full height of the parent element */
    }

    #table-container-outer {
        height: 80%;
    }
}

/* Adjusting for 4k screens */
@media screen and (min-width: 3840px) {
    #data-table {
        min-width: 2900px;
    }
}


@media screen and (max-width: 1710px) {
    #toggle-button {
        display: none;
    }

    #main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
    }

    #table-container-outer {
        height: 90%;
    }
}

@media screen and (max-width: 1920px) {
    #data-table {
        min-width: 1500px;
    }

    #table-container-outer {
        height: 94%;
    }

    #table-container {
        width: 100%;
    }

    #data-table th {
        text-align: center;
    }

    #data-table th:nth-child(4) {
        width: 120px;
    }

    #data-table td:nth-child(20),
    #data-table th:nth-child(20) {
        width: 100px;
        padding-right: 30px;
    }

}